@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*	{
	 padding: 0;
	 margin: 0;
	 box-sizing:border-box;
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: #262626;
	line-height: 1.5em;
}
section {
	padding: 4em 0;
}
header {
	background-color: #000000;
	font-family: 'Open Sans', Arial, sans-serif;
	padding: 20px;
}

nav a {
	color: #ffffff;
	margin-right: 10px;
	border-bottom: 1px solid #fff;
	border: none;
}

h1 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: bold;
	color: #FFB34F;
	padding: 10px 10px;
}

h3, h4, h5 {
	margin: 20px 0;
}

h2 {
	font-family: 'Stint Ultra Expanded', sans-serif;
	font-weight: bold;
	font-size: 2em;
}

h3 {
	font-family: arial, sans-serif;
	font-size: 1.5em
	font-weight: normal;
}

h4 {
	text-transform: uppercase;
	font-size: 1.2em;
}

ul {
	padding-left: 15px;


}
#intro {
	background-image: url("../images/rainboweyesmall.jpg");
	background-size: cover;
	height: 90vh;
	font-size: 2em;
	line-height: 2em;
	color: #fff;
	padding: 2em;
}

.navlinks {
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	text-transform: normal;
	letter-spacing: 2px;
}

#recent {
	width: 10em
	margin: 2em auto;
}

#featured {
	width: 50em
	margin: 2em auto;
}
