*	{
	 padding: 0;
	 margin: 0;
	 box-sizing:border-box;
}
body {
	font-family: helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #262626;
	line-height: 1.5;
}
section {
	padding: 4em 0;
}
header {
	background-color: #000000;
	font-family: Helvetica;
	padding: 20px;
}

nav a {
	color: #ffffff;
	margin-right: 10px;
}

h1 {
	color: #FFB34F
}

h3, h4, h5 {
	margin: 20px 0;
}

h5 {
	color: #949494
}
ul {
	padding-left: 15px;
}
#intro {
	background-image: url("../images/rainboweyesmall.jpg");
	background-size: cover;
	height: 90vh;
	font-size: 2em;
	color: #fff;
	padding: 2em;
}
